@media all and (max-width: 1024px) {
    .containertext{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 7%;
        color: white;
    }
    .text1{
        font-weight: bold;
        font-size: 35px;
        margin:  0 40%;
    }
    
    .text2{
        font-size: 20px;
        margin-bottom: 40px;
        margin: 20px 20% 50px 27%;
        Align-content: center;
    }
    
    .openmenu{
        margin-left: -1%;
    }
}

@media all and (max-width: 630px) {
    .containertext{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 17%;
        color: white;
    }
    .text1{
        font-weight: bold;
        font-size: 28px;
        margin:  0 40%;
    }
    
    .text2{
        font-size: 17px;
        margin: 20px 10% 25px 27%;
    }
    
    .openmenu{
        margin-left: -1%;
    }
}

